
<link rel="stylesheet" href="blogs.css">
<%- include("header"); -%>
<div class="heading">
  <h1>Blogs</h1>
  </div>

<script  src="helper.js">
<%- include("helper"); -%>
</script>
</body>
</html>
